*{
  margin: 0;
  background-color: white;
  
}

.main-nav a{
  margin: 1.5rem;
  color: black;
  text-decoration: none;
  font-family:serif;
  font-weight: bold;
}

.main-nav{
  display: flex;
  
}

.menubar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
}

.home{
  /*border-radius: 20px; */
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  background-color: #495E57;
  justify-content: space-between;
  
}

.little-lemon{
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: #495E57;
  margin-left: 10rem;
  margin-top: 3rem; 
}

.little-lemon h1, h3{
  font-family: serif;
  background-color: #495E57;
}

.little-lemon h1{
  font-size: 64;
  color: #F4CE14;
  margin-bottom: 0.5rem;
}

.little-lemon h3{
  font-size: 40;
  color: #EDEFEE;
  margin-bottom: 1.5rem;
}

.little-lemon p{
  font-size: 20;
  background-color: #495E57;
  color: #EDEFEE;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.little-lemon button{
  font-size: 20;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #F4CE14;
  border-radius: 8px;
  width: 10rem;
  height: 30px;
  margin-top: 2rem;
}

.main button{
  font-size: 20;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #F4CE14;
  border-radius: 8px;
  width: 10rem;
  height: 30px;
  align-self:center;
}

.founder h1{
  font-size: 64;
  color: #F4CE14;
  margin-bottom: 0.5rem;
  font-family: serif;
}

.founder h3{
  font-size: 40;
  color: #495E57;
  margin-bottom: 1.5rem;
  font-family: serif;
}

.founder p{
  font-size: 20;
  color: #495E57;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}